
2 Flights Departing from NYC/flights.csv
2 Flights Departing from NYC/weather.csv
3 Clustering of Handwritten Digits.zip
3 Clustering of Handwritten Digits/mnist-original.mat
4 The Local Elections.zip
4 The Local Elections/X_Databorg.npy
4 The Local Elections/X_Horsens.npy
4 The Local Elections/Y_Databorg.npy
4 The Local Elections/Y_Horsens.npy
5 Sentiment Analysis.zip
5 Sentiment Analysis/labels.txt
5 Sentiment Analysis/reviews.txt
500_Person_Gender_Height_Weight_Index.csv
6 Speech Recognition.zip
6 Speech Recognition/XSound.npy
6 Speech Recognition/YSound.npy
